

<ion-content class="background" >
  
    <div class="ig"></div>
  
  <div class="ion-content">
    <div class="button-acttion">
      <ion-button fill="clear" color="dark" size ="small">
       
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-input placeholder="Korisnicko ime"></ion-input>
      <ion-input type="password" placeholder="Lozinka"></ion-input>
    </div>
    <button ion-button class="actionbutton"  routerLink="/pacijent" >Uloguj se</button>
    
  </div>
  <b><p class="singin" routerLink="/druga">Registracija</p></b>

</ion-content>

