<ion-header>
  <ion-toolbar>
    <ion-title>Dodavanje novog pacijenta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHreaf="/pacijent"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" >
  
  <div class="ig"></div>

<div class="ion-content">
  <div class="button-acttion">
    <ion-button fill="clear" color="dark" size ="small">
     
    </ion-button>
  </div>
  <div class="ion-padding">
    <ion-input placeholder="Ime"></ion-input>
    <ion-input placeholder="Prezime"></ion-input>
    <ion-input placeholder="Adresa"></ion-input>
    <ion-input placeholder="Broj telefona"></ion-input>
    <ion-input placeholder="Izabrani lekar"></ion-input>
    
  </div>
  <button ion-button class="actionbutton"  routerLink="/pacijent" >Dodaj</button>
  
</div>


</ion-content>