.manu-header-bg{
    top:15px;
    left:350px;
    height:180px;
    width: 180px;
    border-radius: 50%;
        border: 7px solid #d7d8d8;
    background-image: url(C:\Users\Ana\Mobilna-aplikacija\src\img\dok.jpg);
}


.header-con{
    position:absolute;
    top:100px;
    left: 250px;
    display: flex;
    align-items: center; 

}