

<ion-content class="background" >
  
  <div class="ig"></div>
<h2>Registracija</h2>
<div class="ion-content">
  <div class="button-acttion">
    <ion-button fill="clear" color="dark" size ="small">
     
    </ion-button>
  </div>
  <div class="ion-padding">
    <ion-input placeholder="Ime"></ion-input>
    <ion-input placeholder="Prezime"></ion-input>
    <ion-input placeholder="Korisnicko ime"></ion-input>
    <ion-input placeholder="Izabrani lekar"></ion-input>
    <ion-input type="password" placeholder="Lozinka"></ion-input>
    <ion-input type="password" placeholder="Potvrdi lozinku"></ion-input>
  </div>
  <button ion-button class="actionbutton"  routerLink="/pocetna" >Registruj se</button>
  
</div>


</ion-content>
